header {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, 0.8) 0%,
    rgba(59, 30, 30, 0.8) 100%
  );
  border-radius: 0 0 36px 36px;
}
.portfolio-title {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  padding-top: 2rem;
  padding-left: 2rem;
  color: #ffffff;
}
