nav {
  width: 100%;
  height: 60px;
  background: fixed
    linear-gradient(90deg, rgba(30, 41, 59, 0.9) 0%, rgba(59, 30, 30, 0.9) 100%);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  border-radius: 36px 36px 0 0;
}
