@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: Helvetica, Arial, sans-serif;
  --transparent-back: rgba(255, 255, 255, 0.06);
  --transparent-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --transparent-backdrop-filter: blur(5px);
  --black: #10101097;
  --black-dark: #050505;
  --grey: #8b8b8b;
  --neutral: #232323;
  --white: #f0f0f0;
  --reel-white: #f0f0f0;
  --primary: #0285be;
  --primary-dark: #003d57;
  --primary-darker: #000f17;
  --primary-rgb: 29, 153, 233;
  --primary-dark-rgb: 0, 61, 87;
  --secondary: #c3324f;
  --secondary-dark: #682032;
  --secondary-darker: #140509;
  --secondary-rgb: 195, 50, 79;
  --secondary-dark-rgb: 104, 32, 50;
  --soft-border: 28px;
  --box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  --shadow-s:
    inset 0 2px 2px #ffffff05, 0 2px 2px #0000000d, 0 2px 2px #0000000a;
  --tablet: 1024px;
  --mobile: 768px;
}

:root.light {
  --black: #f5f5f5f0;
  --black-dark: #ffffff;
  --neutral: #e0e0e0;
  --white: #1a1a1a;
  --primary: #0285be;
  --primary-dark: #003d57;
  --primary-darker: #e8edf0;
  --primary-rgb: 0, 150, 214;
  --primary-dark-rgb: 0, 93, 133;
  --secondary: #b03654;
  --secondary-dark: #682032;
  --secondary-darker: #f0eaeb;
  --secondary-rgb: 207, 67, 102;
  --secondary-dark-rgb: 143, 45, 69;
}
#root {
  width: 100%;
  max-width: 100%;
  border-radius: var(--soft-border);
  border: 1px solid var(--neutral);
  overflow: hidden;
  background: linear-gradient(
    135deg,
    var(--primary-darker),
    var(--secondary-darker)
  );
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-s);
  transition: all 0.3s ease;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 1rem;
  background: linear-gradient(
    135deg,
    var(--primary-darker),
    var(--secondary-darker)
  );
  transition: all 0.3s ease;
  color: var(--white);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
}

button:hover {
  border-color: var(--primary-dark);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
